<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Question1</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].question1 %> :  <%= results[0][i].count %></li>
    <% } %>
    </ul>
    <h2>Question2</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].question2 %> :  <%= results[1][i].count %></li>
    <% } %>
    </ul>
    <h2>Question3</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].question3 %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>

    <h2>Question4</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].question4 %> :  <%= results[3][i].count %></li>
    <% } %>
    </ul>

    <h2>Question5</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].question5 %> :  <%= results[4][i].count %></li>
    <% } %>
    </ul>

    <h2>Question6a</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].question6a %> :  <%= results[5][i].count %></li>
    <% } %>
    </ul>

    <h2>Question6b</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].question6b %> :  <%= results[6][i].count %></li>
    <% } %>
    </ul>

    <h2>Question6c</h2>
    <ul>
    <% for (var i=0; i<results[7].length; i++){ %>
        <li><%= results[7][i].question6c %> :  <%= results[7][i].count %></li>
    <% } %>
    </ul>

    <h2>Question6d</h2>
    <ul>
    <% for (var i=0; i<results[8].length; i++){ %>
        <li><%= results[8][i].question6d %> :  <%= results[8][i].count %></li>
    <% } %>
    </ul>

    <h2>Question6e</h2>
    <ul>
    <% for (var i=0; i<results[9].length; i++){ %>
        <li><%= results[9][i].question6e %> :  <%= results[9][i].count %></li>
    <% } %>
    </ul>

    <h2>Question6f</h2>
    <ul>
    <% for (var i=0; i<results[10].length; i++){ %>
        <li><%= results[10][i].question6f %> :  <%= results[10][i].count %></li>
    <% } %>
    </ul>
</body>
</html>
